body{
    background-color:black;
}
.nav-link{
    font-family: 'Archivo', sans-serif;
    margin-right:100px ;
    font-size: 28px;
}
.navbar-toggler {
    border-color: white; /* Outline */
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
.hero {
    min-height: 85h;
    background-image: url("/img/bg-image1.png");
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;

    font-weight:600;
}
.hero > p {
    font-size: 200px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 0.8;
    font-weight:600;
    margin-inline: 100px;
}

.hero > p.offset {
    margin-left: 800px;
    margin-bottom: 150px;
    margin-top: 80px;
    line-height: 0.9;
}

.arrow {
    margin-left: 50px;
}


@media (max-width: 800px) {
    .hero {
        min-height: 85vh;
        background-position-x: left;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: 75%;
    
        font-weight:600;
    }
   
    .logo{
        height:25px;
    }
    .hero > p {
        font-size: 75px;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        margin: 0;
        line-height: 0.8;
        font-weight:600;
    }
    
    .hero > p.offset {
        margin-left: 50px;
        margin-bottom: 150px;
        margin-top: 80px;
        line-height: 0.9;
    }
}
  